* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0f0f0f;
  color: #eef0f2;
  font-family: "Mozilla Text", sans-serif;
  max-width: 800px;
  width: 100%;
  margin: 32px auto;
}

.container {
  display: flex;
  width: 800px;
  height: 800px;
}

.track-list {
  width: 300px;
  overflow-y: auto;
  background-color: #2a2a2a;
}

.current-track {
  width: 500px;
  background-color: #1e1e1e;
}
