.current-track .track-album-cover {
  height: 350px;
  background-color: #666666;
  border-radius: 4px;
}

.current-track .track-album-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.current-track {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding-block: 2rem;
}
