.current-track .track-album-cover {
  height: 350px;
  margin: 20px;
  background-color: #666666;
  border-radius: 4px;
}

.current-track .empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.current-track .current-track-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1.5rem;
}
