.track {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.track:hover {
  background-color: #404040;
}

.selected {
  background-color: #404040;
}

.track .track-title {
  font-size: 16px;
}

.track .track-artist {
  font-size: 14px;
  color: #b3b3b3;
}

.track .track-album-cover {
  width: 60px;
  height: 60px;
  background-color: #666666;
  border-radius: 4px;
  margin-right: 15px;
}

.track .track-album-cover img {
  width: 100%;
  height: auto;
}
