.track {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  cursor: pointer;
}

.track:hover {
  background-color: #333333;
}

.track .selected {
  background-color: #333333;
}

.track .track-info {
}

.track .track-title {
  font-size: 16px;
}

.track .track-artist {
  font-size: 14px;
  color: #b3b3b3;
}

.track .track-album-cover {
  width: 60px;
  height: 60px;
  background-color: #666666;
  border-radius: 4px;
  margin-right: 15px;
}
